<h1>Listing planets_rogue_planets</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @planets_rogue_planets.each do |planets_rogue_planet| %>
  <tr>
    <td><%= planets_rogue_planet.name %></td>
    <td><%= link_to 'Show', planets_rogue_planet %></td>
    <td><%= link_to 'Edit', edit_planets_rogue_planet_path(planets_rogue_planet) %></td>
    <td><%= link_to 'Destroy', planets_rogue_planet, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rogue planet', new_planets_rogue_planet_path %>
