<!DOCTYPE html>
<html>
<head>
  <title>Subtabs</title>
  <%= stylesheet_link_tag 'reset' %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <header id="main">
    <h1 id="title">Subtabs</h1>
    <h2 id="subtitle">Test Application for Tabulous</h2>
  </header>
  <%= tabs %>
  <%= subtabs %>
  <div id="content">
    <%= yield %>
  </div>
</body>
</html>
