<%= form_for([:galaxies, @elliptical_galaxy]) do |f| %>
  <% if @elliptical_galaxy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@elliptical_galaxy.errors.count, "error") %> prohibited this elliptical_galaxy from being saved:</h2>

      <ul>
      <% @elliptical_galaxy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
