<h1>Listing planets_exoplanets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @planets_exoplanets.each do |planets_exoplanet| %>
      <tr>
        <td><%= planets_exoplanet.name %></td>
        <td><%= link_to 'Show', planets_exoplanet %></td>
        <td><%= link_to 'Edit', edit_planets_exoplanet_path(planets_exoplanet) %></td>
        <td><%= link_to 'Destroy', planets_exoplanet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exoplanet', new_planets_exoplanet_path %>
