<h1>Listing exoplanets</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @exoplanets.each do |exoplanet| %>
  <tr>
    <td><%= exoplanet.name %></td>
    <td><%= link_to 'Show', exoplanet %></td>
    <td><%= link_to 'Edit', edit_exoplanet_path(exoplanet) %></td>
    <td><%= link_to 'Destroy', exoplanet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Exoplanet', new_exoplanet_path %>
