<%= form_for(@spiral_galaxy) do |f| %>
  <% if @spiral_galaxy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spiral_galaxy.errors.count, "error") %> prohibited this spiral_galaxy from being saved:</h2>

      <ul>
      <% @spiral_galaxy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
