<h1>Listing spiral_galaxies</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @spiral_galaxies.each do |spiral_galaxy| %>
  <tr>
    <td><%= spiral_galaxy.name %></td>
    <td><%= link_to 'Show', spiral_galaxy %></td>
    <td><%= link_to 'Edit', edit_spiral_galaxy_path(spiral_galaxy) %></td>
    <td><%= link_to 'Destroy', spiral_galaxy, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Spiral galaxy', new_spiral_galaxy_path %>
